In [9]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('./data/Gemini_BTCUSD_1h.csv')
df = df.sort_values('Date')
df = df.drop(columns=["unix", "Volume_BTC", "Symbol"]).reset_index(drop=True)

In [7]:
df = df.drop(list(range(5))).reset_index(drop=True)

In [12]:
pnl_list = [1, 5, 10, 100]

for pnl_period in pnl_list:
    df_pnl_key = "pnl_{}".format(pnl_period)
    df[df_pnl_key] = df.Close.shift(-pnl_period) - df.Close
df

,Date,Open,High,Low,Close,Volume,pnl_1,pnl_5,pnl_10,pnl_100
0,2015-10-08 18:00:00,244.99,244.99,244.00,244.00,900.475190,0.00,-0.05,-0.40,3.60
1,2015-10-08 19:00:00,244.00,244.00,244.00,244.00,373.675186,0.00,-0.40,-0.40,3.60
2,2015-10-08 20:00:00,244.00,244.00,243.60,244.00,43.200000,-0.05,-0.40,-0.40,3.24
3,2015-10-08 21:00:00,244.00,244.00,243.95,243.95,10.080578,0.00,-0.35,-0.35,3.15
4,2015-10-08 22:00:00,243.95,244.00,243.80,243.95,1149.743744,0.00,-0.35,-0.35,1.80
...,...,...,...,...,...,...,...,...,...,...
59183,2022-07-09 20:00:00,21618.81,21687.46,21590.00,21685.20,405938.467689,14.74,NaN,NaN,NaN
59184,2022-07-09 21:00:00,21685.20,21728.97,21637.50,21699.94,547135.080827,-79.32,NaN,NaN,NaN
59185,2022-07-09 22:00:00,21699.94,21758.00,21595.38,21620.62,581077.532012,-43.99,NaN,NaN,NaN
59186,2022-07-09 23:00:00,21620.62,21640.65,21537.35,21576.63,670391.033006,-156.86,NaN,NaN,NaN
59187,2022-07-10 00:00:00,21576.63,21590.56,21419.77,21419.77,434184.273625,NaN,NaN,NaN,NaN

In [16]:
df = df.fillna(0)

In [17]:
df.to_csv("data/BTCUSD_1h_pnl.csv")

In [19]:
split_index = int(len(df) * 0.8)

In [22]:
df.iloc[split_index:, :].reset_index(drop=True)

,Date,Open,High,Low,Close,Volume,pnl_1,pnl_5,pnl_10,pnl_100
0,2021-03-03 19:00:00,51280.01,51291.53,50314.63,50862.20,5.251992e+06,-322.67,79.52,-1162.47,138.73
1,2021-03-03 20:00:00,50862.20,51191.99,50479.00,50539.53,3.672995e+06,426.89,1000.25,-1114.52,964.17
2,2021-03-03 21:00:00,50539.53,51139.47,50392.01,50966.42,2.476146e+06,-354.43,-127.88,-1250.32,611.13
3,2021-03-03 22:00:00,50966.42,51350.73,50516.02,50611.99,3.537500e+06,-218.99,-1014.76,-405.31,143.21
4,2021-03-03 23:00:00,50611.99,51095.72,50393.00,50393.00,3.377093e+06,548.72,-1339.24,-1274.52,198.21
...,...,...,...,...,...,...,...,...,...,...
11833,2022-07-09 20:00:00,21618.81,21687.46,21590.00,21685.20,4.059385e+05,14.74,0.00,0.00,0.00
11834,2022-07-09 21:00:00,21685.20,21728.97,21637.50,21699.94,5.471351e+05,-79.32,0.00,0.00,0.00
11835,2022-07-09 22:00:00,21699.94,21758.00,21595.38,21620.62,5.810775e+05,-43.99,0.00,0.00,0.00
11836,2022-07-09 23:00:00,21620.62,21640.65,21537.35,21576.63,6.703910e+05,-156.86,0.00,0.00,0.00
11837,2022-07-10 00:00:00,21576.63,21590.56,21419.77,21419.77,4.341843e+05,0.00,0.00,0.00,0.00